/*doc
---
title: Cabecera
name: cabecera
category: Bloques
---

```html_example
<div class="cabecera">
  <div class="container">
    <img class="cabecera__logo" src="../imgs/fidi_logo.png" alt="FIDI" title="FIDI" />
    <div class="cabecera__titulo">
      Fundación internacional para el
      <span class="cabecera__titulo-destacado">
        desarrollo de <strong>internet</strong>
      </span>
    </div>
  </div>
</div>
```
*/

$cabecera-padding: $spacing; 

.cabecera {
  padding-bottom: $spacing;

  margin-top: -13px;
  @media(min-width: $screen-sm-min) { 
    margin-top: -16px;
    padding-bottom: $spacing-xs;
  }
}

  .cabecera__logo {
    position: relative;
    border: 1px solid $gris;

    width: 100px;
    @media(min-width: 370px) { width: 130px; }
    @media(min-width: 460px) { width: 150px; }

    @media(min-width: $screen-sm-min) {
      float: left;
      width: 200px;
    }
  }

  .cabecera__titulo {
    text-transform: uppercase;
    line-height: 1.5em;
    margin-top: 5px;
    font-size: 14px;
    
    @media(min-width: $screen-sm-min) {
      font-size: 17px;
      padding-top: 47px;
      padding-left: 216px;
      margin-bottom: $spacing;
    }
  }

  .cabecera__titulo-destacado {
    font-weight: bold;
    font-size: 1.5em;

    @media(min-width: 370px) { font-size: 1.8em; }
    @media(min-width: 460px) { 
      font-size: 2.3em; 
      letter-spacing: -1px;
    }
  }

  