/*doc
---
title: Paragüas
name: paraguas
category: Bloques
---

```html_example
<div class="paraguas">
  <div class="container">
    <span class="hidden-xs">Instituto Superior para el Desarrollo de Internet</span>
    <a href="#">
      <img class="paraguas__logo" src="../imgs/isdi_logo.png"/>
    </a>
  </div>
</div>
```



*/

.paraguas {
  text-align: right;
  background: black;
  color: $gris;
  font-size: $font-size-xsmall;

  padding: 7px 0 2px 0;
  @media(min-width: $screen-sm-min) {
    padding: 9px 0 5px 0;
  }
}

.paraguas__logo {
  height: 11px;
  vertical-align: baseline;
  margin-left: $spacing-xs;
}