/*doc
---
title: Redes Sociales
name: redes-sociales
category: Bloques
---

```html_example 
<div class="redes-sociales">
  <div class="container">
    <span class="redes-sociales__titulo">compartir en</span>
    <ul class="redes-sociales__iconos">
      <li><a href="#" class="redes-sociales__icono socicon" title="Facebook">b</a></li>
      <li><a href="#" class="redes-sociales__icono socicon" title="Twitter">a</a></li>
      <li><a href="#" class="redes-sociales__icono socicon" title="Google plus">c</a></li>
      <li><a href="#" class="redes-sociales__icono socicon" title="Youtube">r</a></li>
    </ul>
  </div>
</div>
```
*/

.redes-sociales {
  padding: 10px 0;
  text-align: right;
  background-color: $gris-claro;
}

.redes-sociales__titulo {
  position: relative;
  top: -0.4em;
  
  display: inline-block;
  margin-right: $spacing-xs;

  text-transform: uppercase; 
  font-size: $font-size-small;
  color: $gris;
}

.redes-sociales__iconos {
  list-style: none;
  display: inline;
  padding-left: 0;

  > li {
    display: inline-block;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

  .redes-sociales__icono {
    $background-color: $gris;
    padding: 8px;

    background-color: $background-color;
    border-radius: 100%;
    
    color: white;
    font-size: 22px;
    line-height: 2em;
    text-decoration: none;

    @media(min-width: $screen-sm-min) {
      font-size: 14px;
      line-height: normal;
    }

    @include transition(background-color 0.5s);

    &:hover, &:focus, &:active {
      background-color: darken($background-color, 10%);
      color: white;
      text-decoration: none;
    }
  }