<div class="seccion__titulo">
  Ayuda a la <strong>formación</strong>
</div>

<div class="seccion__subtitulo">
  Apostamos por los agentes del cambio social. Formamos a las organizaciones y emprendedores que apuestan por ayudar a los demás
</div>

<div class="seccion__cuerpo margin">
  <p>
    Con el fin de ampliar los recursos y las herramientas digitales, e, incluso, motivar ideas innovadoras para aplicar en proyectos sociales, la FIDI pone a disposición de las ONG y emprendedores sociales una serie de becas formativas. Las Becas FIDI ofrecen a todos aquellos agentes que intervienen en proyectos sociales, la posibilidad de realizar cualquier programa que se imparte en el <a href="http://www.isdi.es/" target="_blank">ISDI</a>. 
  </p>

  <p>
    Nuestro interés es dotar a estos agentes del conocimiento digital necesario para multiplicar los efectos sociales de sus proyectos.
  </p>
</div>