<div class="seccion__titulo">
  <strong>Compromiso</strong> con el cambio educativo
</div>

<div class="seccion__subtitulo">
  En tve1: fidi entrega el premio expokids 14 de fundación créate al colegio más emprendedor
</div>

<div class="seccion__cuerpo">
  <div class="video-embed">
    <div class="video-embed__inner">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DiE5okEJBlU?list=UUMsJswJ4DgS1As_W_MeVQxg" frameborder="0" allowfullscreen></iframe> 
    </div>
  </div>
</div>