<div class="media">

  <div class="media-left">
    <img class="media-object img-circle" src="imgs/unicef_logo.jpg">
  </div>

  <div class="media-body text-left">
    Somos aliados de Unicef en temas de formación digital y estamos colaborando con la transformación digital de la ONG. Ya hemos formado al Comité Directivo y sus Managers, y actualmente 16 trabajadores están realizando cursos de Internet Academi.
  </div>
  
</div>