<div class="seccion__titulo">
  Aid for <strong>training</strong>
</div>

<div class="seccion__subtitulo">
  We focus on the agents of social change. We train organisations and entrepreneurs that focus on helping others
</div>

<div class="seccion__cuerpo margin">
  <p>
    In order to expand the digital resources and tools, and even to motivate innovative ideas to apply in social projects, FIDI offers NGOs and social entrepreneurs a series of educational grants. The FIDI grants offer all those agents that play a part in social projects, the possibility to carry out any programme that is taught at <a href="http://www.isdi.es/" target="_blank">ISDI</a>. 
  </p>

  <p>
    Our interest is to provide these agents with the necessary digital knowledge to multiply the social effects of their projects.
  </p>
</div>