<div class="seccion__titulo">
  <strong>Commitment</strong> to educational change
</div>

<div class="seccion__subtitulo">
  On tve1: fidi awards the créate foundation expokids 14 prize to the most enterprising school
</div>

<div class="seccion__cuerpo">
  <div class="video-embed">
    <div class="video-embed__inner">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DiE5okEJBlU" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>