<div class="seccion__titulo">
 We digitise <strong>social change</strong>
</div>

<div class="seccion__subtitulo">
 A DIGITAL REVOLUTION FOR ALL THROUGH EMPOWERMENT AND DIGITAL EDUCATION
</div>

<div class="seccion__cuerpo">
  <p>At Isdigital Foundation we help the growth of the stakeholders of the educational ecosystem (children, teachers and families), NGOs, entrepreneurs and, in general, any entity or company that participates in projects with social impact.</p>
</div>

<div class="seccion__partnerstitulo">
  	<strong>Friends</strong>
</div>
