<div class="seccion__titulo">
 We digitise <strong>social change</strong>
</div>

<div class="seccion__subtitulo">
  We train and advise NGOs and social entrepreneurs for their development in the digital world
</div>

<div class="seccion__cuerpo">
  <p>The Institute of Internet Development (ISDI) offers society its extensive digital experience to help promote NGOs, social entrepreneurs, and in general any company that participates in social projects.</p>
  <p>That it is the objective of FIDI: to digitally transform those who focus on social progress.</p>
</div>

<div class="seccion__partnerstitulo">
  	<strong>Friends</strong>
</div>

<div class="seccion__tiralogos">
  <ul class="inline-list">
    <li>
        <img src="/imgs/amigas/unicef_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/ayuda-en-accion_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/asoka_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/caritas_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/hazloposible_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/mozambique-sur_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/mi-grano-de-arena_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
</ul>
</div>