<div class="seccion__titulo">
  Boosting <strong>social projects</strong>
</div>

<div class="seccion__subtitulo">
  We help NGOs and entrepreneurs to design and establish social projects using digital media.
</div>
  
<div class="seccion__cuerpo">
  <p>
    Our team of digital volunteers sets to work to digitise new social projects or redefine any social project already under way, to multiply its social impact. We are digitising the following projects:
  </p>
  
  <ul class="inline-list">
    <li>
      <a href="#proyectos-ayuda-en-accion" data-proyecto-social data-default>
        <img src="/imgs/proyectos/ayuda-en-accion_logo.png" alt="" class="img-circle proyecto-logo">
      </a>
    </li>
    <li>
      <a href="#proyectos-ashoka" data-proyecto-social>
        <img src="/imgs/proyectos/asoka_logo.png" alt="" class="img-circle proyecto-logo">
      </a>
    </li>
    <li>
      <a href="#proyectos-mi-grano-de-arena" data-proyecto-social>
        <img src="/imgs/proyectos/mi-grano-de-arena_logo.png" alt="" class="img-circle proyecto-logo">
      </a>
    </li>
    <li>
      <a href="#proyectos-hazloposible" data-proyecto-social>
        <img src="/imgs/proyectos/hazloposible_logo.png" alt="" class="img-circle proyecto-logo">
      </a>
    </li>
  </ul>
</div>
