<div class="media">

  <div class="media-left">
    <img class="media-object img-circle" src="/imgs/unicef_logo.jpg">
  </div>

  <div class="media-body text-left">
    We are a UNICEF partner in areas of digital training and we are collaborating in the digital transformation of the NGO. We have already trained the Executive Committee and its Managers, and 16 workers are currently studying Internet Academi courses.
  </div>
  
</div>