<div class="seccion__titulo">
  <strong>Digital</strong> volunteers
</div>

<div class="seccion__subtitulo">
  They donate their time and experience to digitise or optimise social projects
</div>

<div class="seccion__cuerpo">
  <p>At FIDI we have a team of volunteers who specialise in different digital disciplines. </p>

  <p>We design the digital strategy, the corporate web, crowdfunding systems, social network strategies, and in general any digital aid for non-profit organisations and social entrepreneurs. We share the same objective: to generate a positive change in society. In our case, our most efficient aid is digital.</p>
  
  <p><em>* 1 HOUR DONATED EQUALS 1 FIDI COIN</em></p>
</div>