/*doc
---
title: Personajes
name: personajes
category: Componentes
---

## Ancho completo del navegador

```html_example
<div class="personajes personajes--full-width">
  <ul class="personajes__wrapper">
    <li class="personajes__item">
      <img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" />
      <div class="personajes__datos">
        <span class="personajes__nombre">David Ruíz Montes</span>
        <span class="personajes__cargo">Consultor</span> 
        <span class="personajes__coins">6 Fidi coins</span> 
        <a href="#" class="personajes__icono socicon">j</a>
      </div>
    </li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
  </ul>
</div>
```

## 5 personajes

Podemos marcar a un personaje como directora aplicándole el estilo `personajes__item--directora`.

```html_example
<div class="container">
  <div class="personajes personajes--five">
    <ul class="personajes__wrapper">
      <li class="personajes__item personajes__item--directora">
        <img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" />
        <div class="personajes__datos">
          <div class="personajes__datos-inner">
            <span class="personajes__nombre">Javier Rodríguez Zapatero</span>
            <span class="personajes__cargo">Optimist Google & ISDI</span> 
            <a href="#" class="personajes__icono socicon">j</a>
          </div>
        </div>
      </li>
      <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
      <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
      <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
      <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    </ul>
  </div>
</div>
```

## 6 personajes

```html_example
<div class="container">
  <div class="personajes personajes--six">
    <ul class="personajes__wrapper">
      <li class="personajes__item">
        <img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" />
        <div class="personajes__datos">
          <div class="personajes__datos-inner">
            <span class="personajes__nombre">Javier Rodríguez Zapatero</span>
            <span class="personajes__cargo">Optimist Google & ISDI</span> 
            <a href="#" class="personajes__icono socicon">j</a>
          </div>
        </div>
      </li>
      <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
      <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
      <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
      <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
      <li class="personajes__item"><img class="personajes__foto" src="../imgs/voluntarios/david-ruiz.jpg" /></li>
    </ul>
  </div>
</div>
```
*/

$personajes-breackpoint1: 450px;
$personajes-breackpoint2: 650px;

$personaje-datos-bg: rgba(0,0,0,0.8);

.personajes--full-width {
  @media(max-width: ($personajes-breackpoint1 - 1)) {
    padding: $spacing-lg 0;
  }

  background-color: black;
}

.personajes__wrapper {
  @include clearfix();
  list-style: none;
  max-width: 1400px;
  margin: 0 auto;
}

.personajes__item {
  position: relative;
  width: 220px;

  @media(max-width: ($personajes-breackpoint1 - 1)) { margin:0 auto $spacing; }
  @media(min-width: $personajes-breackpoint1) { 
    float: left; 
    width: 50%;
  }
  @media(min-width: $personajes-breackpoint2) { width: 33.3333%; }

  .personajes--full-width & {
    @media(min-width: 950px) { width: 25%; }
    @media(min-width: 1250px) { width: 16.6666%; }
  }

  .personajes--five & {

    .theme--rojo & {
      @media(min-width: $personajes-breackpoint2) { 
          border-right: 1px solid #bd5879; 
          border-bottom: 1px solid #bd5879;
      }
    }

    @media(min-width: $screen-md-min) { width: 20%; }
  }

  .personajes--six & {
    
    .theme--morado & {
      @media(min-width: $personajes-breackpoint2) { 
          border-right: 1px solid #b480c2; 
          border-bottom: 1px solid #b480c2;
      }
    }

    @media(min-width: $screen-md-min) { width: 25%; }
    @media(min-width: $screen-lg-min) { width: 16.6666%; }
  }
}

    .personajes__foto {
      width: 100%;
    }


    .personajes__item--directora {
      &:before { 
        position: absolute;
        content: 'Directora';

        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        text-align: center;
        background-color: $personaje-datos-bg;

        font-size: 0.8em;
        color: #fff;
        font-weight: bold;
      }
    }


/* *********************************************** *\
    #DATOS DE LOS PERSONAJES
\* *********************************************** */

.personajes__datos {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 7px 50px 7px 10px;

  color: white;
  background-color: $personaje-datos-bg;
  line-height: 1.1;
}

.personajes__nombre {
  display: block;
  line-height: 1.1;
  font-weight: bold;
}

.personajes__cargo {
  @include font-size-small();
  line-height: 1.1;

  &:after {
    content:"/";
    margin-right: 3px;
    margin-left: 5px;
  }
}

.personajes__coins {
  @include font-size-small();
  text-transform: uppercase;

  @media(min-width: $screen-sm-min) {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.personajes__icono {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 10px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: block;
  font-size: $font-size-base-mobile;
  background-color: white;
  border-radius: 100%;

  color: black!important;
  text-decoration: none;
  text-align: center;
  @include transition(background-color 0.3s);

  &:hover {
    color: white!important;
    border: 1px solid white;
    background-color: black;
  }
}

html.desktop .personajes--six , html.desktop .personajes--five {

  .personajes__cargo:after { display: none; }

  @media(min-width: $screen-sm-min) {

    .personajes__datos {
      top: 0;
      text-align: center;
      opacity: 0;
      @include transition(opacity 0.5s);

      &:hover {
        opacity: 1;
      }
    }

    .personajes__datos-inner {
      position: absolute;
      left: 0;
      right: 0;
      top: 38%;

      padding-left: $spacing-sm;
      padding-right: $spacing-sm;
    }

    .personajes__nombre, .personajes__cargo {
      display: block;
      margin-bottom: 10px;
    }  

    .personajes__icono {
      position: static;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }  
}