/*doc
---
title: Seccion
name: seccion
category: Componentes
---

```html_example
<div class="seccion">
  <div class="seccion__titulo">Título de la <strong>sección</strong></div>
  <div class="seccion__subtitulo">Subtítulo de la sección que suele ser más largo que el título y puede llegar a varias líneas</div>
  <div class="seccion__cuerpo">
    Contenido
  </div>
</div>
```

```html_example
<div class="seccion seccion--oscura" style="background-color: #888">
  <div class="seccion__titulo">Título de la <strong>sección</strong></div>
  <div class="seccion__subtitulo">Subtítulo de la sección que suele ser más largo que el título y puede llegar a varias líneas</div>
  <div class="seccion__cuerpo">
    Contenido
  </div>
</div>
```
*/

.seccion {
  position: relative;
  padding-top: $spacing-xlg-mobile;
  padding-bottom: $spacing-xlg-mobile;
  text-align: center;

  background-size: cover;
  @include transition(padding-bottom 0.3s);

  @media(min-width: $screen-xs-min) {
    padding-top: $spacing-xlg;
    padding-bottom: $spacing-xlg;
  }
}

  .seccion--oscura {
    color: white;
    a, a:hover, a:focus {
      color: white;
    }

    .btn-cuadrado {
      border-color: white;
    }
  }

  .seccion--pequena {
    padding-top: $spacing-mobile;
    padding-bottom: $spacing-mobile;

    @media(min-width: $screen-xs-min) {
      padding-top: $spacing;
      padding-bottom: $spacing;
    }
  }

.seccion__titulo {
  @include margin-lg();

  @include font-size-h1();
  text-transform: uppercase;
}

.seccion__subtitulo {
  @include margin-lg();
  @include font-size-h3();
  font-weight: 600;
  text-transform: uppercase;
}

.seccion__cuerpo {
  position: relative;
  
  > *:last-child {
    margin-bottom: 0;
  }
}

.seccion__triangulo-top {
  @include triangle(30px, gray, up);
  position: absolute;
  top: -15px;
  left: 50%;
  @include transition(margin-left 0.2s);
}

.seccion__cerrar {
  position: absolute;
  right: $grid-gutter-width / 2;
  top: 0px;
  font-size: 50px;
}


// THEMES
.seccion {
  &.theme--azul {
    background-color: $azul;
  }
  &.theme--azul-oscuro {
    background-color: $azul-oscuro;
  }
  &.theme--verde-oscuro {
    background-color: $verde-oscuro;

    .seccion__triangulo-top {
      border-bottom-color: $verde-oscuro;
    }
  }
  &.theme--verde {
    background-color: $verde;
  }
  &.theme--rojo {
    background-color: $rojo;
  }
}
