.video-embed {
  max-width: 600px;
  margin: 0 auto;
}

.video-embed__inner { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.video-embed__inner iframe, 
.video-embed__inner object, 
.video-embed__inner embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}