<a name="top"></a>
<div class="paraguas">
  <div class="container">
    <span class="hidden-xs">{{ i18n.cabecera_isdi_titulo }}</span>
    <a href="https://www.isdi.education/{{ page.lang }}" target="_blank" class="isdi-logo">
      <img class="paraguas__logo" src="/imgs/isdi_logo.png"/>
    </a>
    {% include idiomas.liquid %}
  </div>
</div>

<div class="cabecera">
  <div class="container">
    <a href="/">
      <img class="cabecera__logo" src="/imgs/isdigital_foundation.png" alt="ISDIgital Foundation" title="ISDIgital Foundation" />
    </a>
    <h1 class="cabecera__titulo">
        {{ i18n.pagina_titulo }}
      </span>
    </h1>
  </div>
</div>