<div class="page-footer">

  <div class="margin-sm">
    <ul class="inline-list">
      <li><a href="http://www.isdi.es/aviso-legal" rel="nofollow" target="_blank">Aviso legal</a></li>
      <li><a href="http://www.isdi.es/politica-de-privacidad" rel="nofollow" target="_blank">Política de privacidad</a></li>
      <li><a href="politica-cookies.html" rel="nofollow" target="_blank">Cookies</a></li>
      <li><a href="#" rel="nofollow">Contacto</a></li>
    </ul>
  </div>

  <a href="#top" class="go-to-top-icon js-scroll-top">
    <span class="sr-only">
      Ir al comienzo de la página
    </span>
  </a>
  
</div>