			</div>
			<div class="col-md-2">
				<div class="submenu-container" data-spy="affix" data-offset-top="60">
					<ul class="nav">
					<% @blocks.each do |b| %>
						<li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
					<% end %>
					<li>
						<a href="#top">Back to top</a>
					</li>
					</ul>
				</div>
			</div>
		</div>
    </div>


	<!-- Only for documentation -->
	<script src="../vendor/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
	<script src="../vendor/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
  </body>
</html>