			</div>
			<div class="col-md-2">
				<div class="submenu-container" data-spy="affix" data-offset-top="60">
					<ul class="nav">
					<% @blocks.each do |b| %>
						<li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
					<% end %>
					<li>
						<a href="#top">Back to top</a>
					</li>
					</ul>
				</div>
			</div>
		</div>
    </div>

	<script src='/vendor/fastclick/lib/fastclick.js'></script>

	<script src="/vendor/jQuery.mmenu/src/js/jquery.mmenu.min.all.js"></script>

	<script src="/vendor/moment/min/moment.min.js"></script>
	<script src="/vendor/moment/lang/es.js"></script>

	<script src="/vendor/bootstrap/js/alert.js"></script>
	<script src="/vendor/bootstrap/js/dropdown.js"></script>

	<script src="/vendor/bootstrap/js/collapse.js"></script>

	<script src="/vendor/bootstrap/js/tooltip.js"></script>
	<script src="/vendor/bootstrap/js/tab.js"></script>
	<script src="/vendor/bootstrap/js/modal.js"></script>
	
	<script src="/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

	<script src="/vendor/jquery-waypoints/waypoints.min.js"></script>

	<script src="/vendor/owlcarousel/owl-carousel/owl.carousel.min.js"></script>
	
	<script src="/vendor/filament-dialog/dist/dialog.min.js"></script>

	<script src="/vendor/tablesaw/dist/tablesaw.js"></script>
	<script src="/js/console.js"></script>

	<script src="/vendor/typeahead.js/dist/typeahead.jquery.min.js"></script>
	<script src="/vendor/typeahead.js/dist/typeahead.bundle.min.js"></script>
	<script src="/vendor/typeahead.js/dist/bloodhound.min.js"></script>


	<!-- Custom charts -->
	<script src="/vendor/raphael/raphael-min.js"></script>
	<script src="/js/charts/common.js"></script>
	<script src="/js/dial-chart.js"></script>
	<script src="/js/spider-chart.js"></script>
	<script src="/js/balls-chart.js"></script>
	<script src="/js/evolution-sectors-chart.js"></script>
	<script src="/js/positions-chart.js"></script>
	<script src="/js/dropdown-table-menu.js"></script>

	<script src="/js/config.js"></script>
	<script src="/js/mobile-menu.js"></script>
	<script src="/js/filters-toggler.js"></script>
	<script src="/js/carousel-accounts.js"></script>
	<script src="/js/dropdown-static.js"></script>
	<script src="/js/form-input-datepicker.js"></script>
	<script src="/js/form-input-timepicker.js"></script>
	<script src="/js/option-show.js"></script>
	<script src="/js/option-hide.js"></script>
	<script src="/js/stock-fixed.js"></script>
	<script src="/js/aside.js"></script>
	<script src="/js/not-submit-on-enter.js"></script>
	<script src="/js/dropdown-tab.js"></script>
	<script src="/js/main.js"></script>

	<!-- Only for documentation -->
	<script src="/vendor/bootstrap/js/affix.js"></script>
	<script src="/vendor/bootstrap/js/scrollspy.js"></script>
  </body>
</html>