<div class="seccion__tiralogos">
  <ul class="inline-list">
    <li>
        <img src="/imgs/amigas/unicef_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/ayuda-en-accion_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/asoka_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/caritas_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/hazloposible_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/mozambique-sur_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
    <li>
        <img src="/imgs/amigas/mi-grano-de-arena_logo.png" alt="" class="img-circle proyecto-logo">
    </li>
</ul>
</div>
