<div class="seccion__titulo">
  Digitalizamos el <strong>cambio social</strong>
</div>

<div class="seccion__subtitulo">
  La revolución digital para todos a través del empoderamiento y la educación digital
</div>

<div class="seccion__cuerpo">
  <p>Desde Isdigital Foundation ayudamos a crecer a los actores del ecosistema educativo (niños y niñas, docentes y familias), ONG’s, emprendedores y en general a cualquier entidad o
     empresa que participe en proyectos de impacto social.</p>
</div>

<div class="seccion__partnerstitulo">
  Entidades <strong>amigas</strong>
</div>

