<div class="seccion__titulo">
  Digitalizamos el <strong>cambio social</strong>
</div>

<div class="seccion__subtitulo">
  Formamos y asesoramos a las ong y emprendedores sociales para desarrollarse en el mundo digital
</div>

<div class="seccion__cuerpo">
  <p>El Instituto Superior de Desarrollo de Internet (ISDI) pone a disposición de la sociedad su amplia experiencia digital para ayudar a crecer a las ONG, emprendedores sociales, y en general a cualquier entidad que participe en proyectos sociales.</p>
  <p>Ese es el objetivo de la FIDI: transformar digitalmente a los que apuestan por el progreso social.</p>
</div>

<div class="seccion__partnerstitulo">
  Entidades <strong>amigas</strong>
</div>

