<div class="seccion__titulo">
  Impulso a <strong>proyectos sociales</strong>
</div>

<div class="seccion__subtitulo">
  Ayudamos a las ong y emprendedores a diseñar e implantar proyectos sociales sirviéndose de medios digitales
</div>
  
<div class="seccion__cuerpo">
  <p>
    Nuestro equipo de voluntarios digitales se pone manos a la obra para digitalizar nuevos proyectos sociales o redefinir cualquier proyecto social ya en marcha, para multiplicar su impacto social.
  </p>
</div>
