<div class="seccion__titulo">
  Impulso a <strong>proyectos sociales</strong>
</div>

<div class="seccion__subtitulo">
  Ayudamos a las ong y emprendedores a diseñar e implantar proyectos sociales sirviéndose de medios digitales
</div>
  
<div class="seccion__cuerpo">
  <p>
    Nuestro equipo de voluntarios digitales se pone manos a la obra para digitalizar nuevos proyectos sociales o redefinir cualquier proyecto social ya en marcha, para multiplicar su impacto social. Estamos digitalizando los siguientes proyectos:
  </p>
  
  <ul class="inline-list">
    <li>
      <a href="#proyectos-ayuda-en-accion" data-proyecto-social data-default>
        <img src="/imgs/proyectos/ayuda-en-accion_logo.png" alt="" class="img-circle proyecto-logo">
      </a>
    </li>
    <li>
      <a href="#proyectos-ashoka" data-proyecto-social>
        <img src="/imgs/proyectos/asoka_logo.png" alt="" class="img-circle proyecto-logo">
      </a>
    </li>
  </ul>
</div>
