<div class="media">

  <div class="media-left">
    <img class="media-object unicef-logo" src="/imgs/unicef_logo.png">
  </div>

  <div class="media-body text-left unicef-text">
    Somos aliados de Unicef en temas de formación digital y estamos colaborando con la transformación digital de la ONG.
  </div>
  
</div>