<div class="seccion__titulo">
  Voluntarios <strong>digitales</strong>
</div>

<div class="seccion__subtitulo">
  Donan su tiempo y su experiencia para digitalizar u optimizar proyectos sociales
</div>

<div class="seccion__cuerpo">
  <p>En la FIDI contamos con un equipo de voluntarios, especialistas en diferentes disciplinas digitales. </p>

  <p>Diseñamos la estrategia digital, la web corporativa, sistemas de crowfunding, estrategias de redes sociales, y en general cualquier ayuda digital tanto para entidades no lucrativas como para emprendedores sociales. Con ellos compartimos un mismo objetivo: generar un cambio positivo en la sociedad. En nuestro caso, nuestra ayuda más eficiente es la digital.</p>
  
  <p><em>* 1 HORA DONADA EQUIVALE 1 FIDI COIN</em></p>
</div>