$grid-gutter-width: 30px;

/*
--- PALETA DE COLORES -------------------------------
*/

$gris:        #999;
$gris-claro:  #e2e2e2; 

$azul:        #47A6BE;
$azul-oscuro: #368EA4;
$verde:       #3BAF84;
$azul-claro:  #7EC2C6;
$rojo:        #963854;
$morado:      #A784BD;

/*
-- FUENTES ------------------------------------------
*/
$font-size-h1:     42px;
$font-size-h2:     26px;
$font-size-h3:     20px;
$font-size-base:   16px;
$font-size-small:  13px;
$font-size-xsmall: 11px;

$font-size-h1-mobile:     30px;
$font-size-h2-mobile:     18px;
$font-size-h3-mobile:     16px;
$font-size-base-mobile:   14px;
$font-size-small-mobile:  12px;
$font-size-xsmall-mobile: 11px;


$font-family-sans-serif: 'Open Sans', sans-serif;
$line-height-computed: 26px;
$line-height-base: $line-height-computed / $font-size-base;

/*
-- MÁRGENES ------------------------------------------
*/
$spacing-base: $line-height-computed;

$spacing-xs:  floor($spacing-base / 4); // 6px
$spacing-sm:  $spacing-base / 2;        // 13px
$spacing:     $spacing-base;            // 26px
$spacing-lg:  $spacing-base * 2;        // 52px
$spacing-xlg:  $spacing-base * 3;       // 78px

$spacing-xs-mobile:  $spacing-xs / 1.3;
$spacing-sm-mobile:  $spacing-sm / 1.3;
$spacing-mobile:     $spacing / 1.4;
$spacing-lg-mobile:  $spacing-lg / 1.5;
$spacing-xlg-mobile: $spacing-xlg / 1.6;


// Tooltip
$tooltip-bg: $azul;
$tooltip-max-width: 220px;
