.proyecto-logo {
  width: 130px;
  height: 130px;
}

.proyectos-enum {
  > li.active .btn {
    opacity: 1;
  }
}

.seccion--proyectos {
  top: -20px;
  margin-bottom: -20px;

  @media(min-width: $screen-sm-min) {
    top: -50px;
    margin-bottom: -50px;
  }
}

.isdi-logo {
  text-decoration: none;
}