.proyecto-logo {
  width: 130px;
  height: 130px;
}

.proyectos-enum {
  > li.active .btn {
    opacity: 1;
  }
}

.seccion--proyectos {
  top: -20px;
  margin-bottom: -20px;

  @media(min-width: $screen-sm-min) {
    top: -50px;
    margin-bottom: -50px;
  }
}

.seccion__partnerstitulo { 
  font-size:20px;
  text-align:center;
  margin: 20px 0 -20px 0;
  text-transform: uppercase;

  @media(min-width: $screen-sm-min) {
    font-size:30px;
  }
}

.seccion__tiralogos {
  margin-top: 25px;
  .inline-list > li { margin-right: 10px;}
  .proyecto-logo { width: 120px; height: 120px; margin:8px 0;  }

  @media(min-width: $screen-sm-min) {
    top: -50px;
    margin-bottom: -50px;
  }
}

.isdi-logo {
  text-decoration: none;
}

.unicef-logo {
  display: none;
  width: 90px;

  @media(min-width: $screen-xs-min) {
    display: block;
  }
}
.unicef-text {
  vertical-align: middle;
}