---
---
{% assign i18n = site.data[page.lang].textos %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% include head.liquid %}
  </head>
  <body>

    {% include cabecera.liquid %}

    {{ content }}

    {% include footer.liquid %}

  </body>
</html>